body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #742fb0a4;
    color: #333;
}

.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

section {
    margin: 20px 0;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
